/*
!/.gitignore
!/README.md

# top-level config files
!/QtProject.conf
!/Trolltech.conf
!/darklyrc
!/dolphinrc
!/gtkrc
!/gtkrc-2.0
!/kactivitymanagerd-statsrc
!/kactivitymanagerdrc
!/kcminputrc
!/kconf_updaterc
!/kded5rc
!/kded6rc
!/kdeglobals
!/kglobalshortcutsrc
!/kiorc
!/kioslaverc
!/kmixctrlrc
!/kmixrc
!/konsolerc
!/konsolesshconfig
!/kprivacyrc
!/kscreenlockerrc
!/ksmserverrc
!/ksplashrc
!/ktimezonedrc
!/kwinoutputconfig.json
!/kwinrc
!/kwinrulesrc
!/kxkbrc
!/lattedockrc
!/mimeapps.list
!/plasma-localerc
!/plasma-org.kde.plasma.desktop-appletsrc
!/plasmanotifyrc
!/plasmarc
!/plasmaparc
!/plasmashellrc
!/powerdevilrc
!/spectaclerc
!/starship.toml
!/user-dirs.dirs

# top-level config directories
!/autostart/
!/autostart/**
!/btop/
!/btop/**
!/cava/
!/cava/**
!/environment.d/
!/environment.d/**
!/fastfetch/
!/fastfetch/**
!/fish/
!/fish/**
!/gtk-3.0/
!/gtk-3.0/**
!/gtk-4.0/
!/gtk-4.0/**
!/KDE/
!/KDE/**
!/kdedefaults/
!/kdedefaults/**
!/kde-material-you-colors/
!/kde-material-you-colors/**
!/klassy/
!/klassy/**
!/Kvantum/
!/Kvantum/**
!/latte/
!/latte/**
!/menus/
!/menus/**
!/nvim/
!/nvim/**
!/opencode/
!/opencode/**
!/panel-colorizer/
!/panel-colorizer/**
!/plasma-workspace/
!/plasma-workspace/**
!/rofi/
!/rofi/**
!/systemd/
!/systemd/**
!/waywallen/
!/waywallen/**
!/wekde/
!/wekde/**
!/xsettingsd/
!/xsettingsd/**

# exclude sensitive/private bits
KDE/neochat.conf
opencode/node_modules/**
opencode/package-lock.json
opencode/package.json
opencode/agent/opencode.json
systemd/user/*.bak
